@import url('https://fonts.googleapis.com/css?family=Questrial');

body{
    font-family: 'Questrial', sans-serif;
   
    
}
/*input#btn__agregar{
    margin: 10px;
    align-content: center;
    min-width: 150px;
    
    
    
    
    
}*/

input#cant{
    width: 30%;
    
}
input[type=submit]{
    width: 150px;
    font-size: 15px;
    margin: auto;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    display: block;
    background: #43BE6F;
    border: 0;
    padding: 6px;
    border-radius: 4px;
}

div.general{
    
    max-width: 50%;
    min-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 11vh;
    margin-bottom: 25vh;
    height: 10vh;
    
}
fieldset{
    background: rgba(51,51,51,0.9);
    color: #fff;
    border: 0;
    
}
 #precio__c
{
  min-width: 92%;
    
}
legend{
    color:#43BE6E;
    font-size: 30px;
}
legend#titulo__cuadro{
    background: rgba(51,51,51,0.9);
    
}
textarea{
    width: 100%;
}
