@import url('https://fonts.googleapis.com/css?family=Questrial');

body{
    font-family: 'Questrial', sans-serif;
   
    
}
p{
    
    font-size: 30px;
    
}
table{
    width: 100%;
    
}
th{
    background: rgba(51,51,51,.4);
    color: #43BE6E;
    border-left: black 1px solid;
    border-bottom:black 1px solid;
}
td{
    background: rgba(200,200,200, .9);
}